/* Nav Related Section */
*{
    font-family: 'Belanosima', sans-serif;
}
nav {
    display: flex;
    font-family: 'Belanosima', sans-serif;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.Primary-Color{
    color: #FD6E0A;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    margin-right: 50px;
    list-style: none;
}
nav a{
    text-decoration: none;
}
.Primary-Button{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #FFF;
    padding: 15px 30px;

    margin-top: 10px;
}
.header{
    background: #FFF8F3;
    background-image:url(../images/header_bg.png) ;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.banner{
    padding: 30px 30px 0px 150px ;
    /* width: 1600px;
    height: 837px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .banner-profile{
    width: 584px;
    height: 676px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin: 5px;
    margin-bottom: 10px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}
.about{
    padding: 110px 210px;
    border-radius: 10px;
    background: #FFF8F3;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
}
.section-description{
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
}
main{
    width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}